#  Import all required Libraries

In [2]:
import pandas
import numpy
import matplotlib.pyplot as plt

# Read data

In [3]:
data = pandas.read_csv('CarPrices.csv')
data.head()

,symboling,fueltype,aspiration,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,gas,std,front,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,gas,std,front,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,gas,std,front,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,gas,std,front,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,gas,std,front,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0

# Replace non numerical data into numerical values in dataset

In [4]:
fueltype = {'gas': 1, 'diesel': 2}
aspiration = {'std': 1, 'turbo': 2}
enginelocation = {'front': 1, 'rear': 2}

In [5]:
data.fueltype = [fueltype[item] for item in data.fueltype]
data.aspiration = [aspiration[item] for item in data.aspiration]
data.enginelocation = [enginelocation[item] for item in data.enginelocation]

In [6]:
data.head()

,symboling,fueltype,aspiration,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,1,1,1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,1,1,1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,1,1,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,1,1,1,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,1,1,1,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0

# Dividing the data into dependent and independent variables

In [7]:
Y = data.price
X = data.drop(columns = ['price'])

# Splitting data into training set and testing set

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [9]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((164, 17), (41, 17), (164,), (41,))

# Import LinearRegression model from sklearn library and create a object

In [11]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

# Training model by providing the training data into the model

In [12]:
model.fit(X_train, y_train)

LinearRegression()

# Predicting the output for the testing set  from the model

In [33]:
y_pred = model.predict(X_test)

In [34]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)
print(r2)

0.8920807196530892