# Import all required Libraries

In [1]:
import pandas
import numpy

# Read data

In [2]:
data = pandas.read_csv('Iris.csv')
data.head(10)

   petal_length  petal_width  sepal_length  sepal_width        label
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

# Converting Non numerical values into Numerical values

In [3]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['label'] = le.fit_transform(data['label'])

data.head()

   petal_length  petal_width  sepal_length  sepal_width  label
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

# Dividing the data into dependent and independent variables

In [4]:
Y = data.label
X = data.drop(columns = ['label'])

# Splitting data into training data and testing data

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((120, 4), (30, 4), (120,), (30,))

# Import KNeighborsClassifier from sklearn library and fit into it

In [10]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)

KNeighborsClassifier()

# Predicting testing data using model

In [11]:
y_pred = model.predict(X_test)
y_pred

array([1, 1, 1, 2, 2, 0, 1, 0, 2, 1, 1, 2, 0, 1, 1, 1, 1, 0, 0, 2, 2, 2,
       1, 1, 1, 0, 1, 0, 2, 0])

# Printing metrics of the model

In [12]:
from sklearn.metrics import accuracy_score, confusion_matrix

acc = accuracy_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)
acc, cm

(0.9333333333333333,
 array([[ 8,  0,  0],
        [ 0, 13,  1],
        [ 0,  1,  7]]))